
.about-company__inner {
    padding: 71px 0 50px;
}

.about-company__title {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 8px;
    color: #FFFFFF;
}
.about-company__subtitle {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 60px;
    color: #FFFFFF;
}
.about-company__button {
    border: 1px solid #D7DEE5;
    border-radius: 30px;
    background-color: transparent;
    font-weight: bold;
    font-size: 16px;
    padding: 19px 51px;
    color: #DADADA;
    transition: 0.5s;
}
.about-company__button:hover {
    border: 1px solid $hover-color;
    color: $hover-color;
    transition: 0.5s;
}



