

.header {
    position: fixed;
    width: 100%;
    background-color: #fff;
}

.header__wrapper {
    height: 71px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.header__logo {
    padding: 19px 0 10px 5px;
}
.header__nav {
    display: flex;
    align-items: center;
    width: 610px;
    justify-content: space-between;
}
.header__nav {
    letter-spacing: 1.18px;
}
.header__item:first-child {
    margin-right: 20px;
    position: relative;

}
.header__item:first-child::after {
    content: '';
    width: 9px;
    height: 6px;
    position: absolute;
    background-image: url(../images/icons/header/arrow.svg);
    background-repeat: no-repeat;
    top: 8px;
    right: -16px;
    cursor: pointer;
}
.header__item:last-child {
    margin-right: 16px;
    position: relative;
}
.header__item:last-child::after {
    content: '';
    width: 9px;
    height: 6px;
    position: absolute;
    background-image: url(../images/icons/header/arrow.svg);
    background-repeat: no-repeat;
    top: 8px;
    right: -16px;
    cursor: pointer;
    
}
.header__link {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: $color-link;
}
.header__tel {
    border: 1px solid #D7DEE5;
    width: 194px;
    height: 40px;
    border-radius: 22px;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0px 10px 0px;
    
    a {
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 1.1px;
        color: $color-link;
    }
}
.header__item.item-active:last-child::after{
    transform: rotate(-180deg);
}
.header__item.item-active:first-child::after{
    transform: rotate(-180deg);
}

.mobile__nav {
    position: fixed;
    width: 300px;
    height: 300px;
    transition: ease 0.5s;
    left: 50%;
    background-color: #002B5A;
    transform: translateY(-100%) translateX(-50%);
}
.mobile__nav.mobile__nav--active{
    transition: ease 0.5s;
    transform: translateY(0%) translateX(-50%);
    z-index: 10;
}
.superimposition {
    z-index: 8;
    opacity: 0.7;
}
.superimposition {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    transition: ease 0.5s;
}
.superimposition.active {
    z-index: 8;
    opacity: 0.7;
    transition: ease 0.5s;
}
.mobile__item {
    margin-top: 27px;
    text-align: center;
    color: #fff;
}
.mobile__close {
    position: absolute;
    right: 12%;
    top: 20px;

}
.mobile__close span {
    position: absolute;
    width: 30px;
    height: 5px;
    background-color: #fff;
    margin: 5px 0;
}
.mobile__close span:first-child {
    transform: rotate(45deg);
}
.mobile__close span:last-child {
    transform: rotate(-45deg);
}
.mobile-button {
    display: none;
}
.phone-button {
    display: none;
}

//adaptive

@media(max-width: 1201px) {
    .container {
        max-width: 1000px;
    }
    .header__wrapper {
        flex-wrap: wrap;
    }
    .header__nav {
        flex-basis: 100%;
        order: 3;
        justify-content: space-around;
    }
    .about-company {
        margin-top: 25px;
    }
}
@media screen and (max-width: 1004px) {
    .container {
        padding: 0 15px;
    }
}
@media screen and (max-width: 767px) {
    .header__nav {
        display: none;
    }
    .mobile-button {
        display: block;
        margin-top: 13px;
    }
}
@media screen and (max-width: 479px) {
    .header__tel {
        display: none;
    }
    .phone-button {
        display: block;
        margin-top: 13px;
    }

}